<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="blogs content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis aspernatur adipisci totam. Corrupti ullam nihil dolore dolor ea, sint aliquam! Nisi, accusantium eos? Qui voluptatem ullam ex molestiae quas ducimus voluptas id porro, commodi vitae explicabo eius sunt animi hic quam deleniti, ut accusamus soluta in officiis beatae. Quas sunt unde optio officia! Nobis tempore rerum magnam doloremque facilis iste, minus aut non laudantium nesciunt, praesentium explicabo perferendis error dolorum facere distinctio consequuntur modi maiores exercitationem reprehenderit optio eveniet! Aliquid, similique deserunt animi, obcaecati tempore ab praesentium deleniti quidem voluptate, omnis doloremque officiis sit aperiam incidunt vel maxime? Qui, deleniti.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis aspernatur adipisci totam. Corrupti ullam nihil dolore dolor ea, sint aliquam! Nisi, accusantium eos? Qui voluptatem ullam ex molestiae quas ducimus voluptas id porro, commodi vitae explicabo eius sunt animi hic quam deleniti, ut accusamus soluta in officiis beatae. Quas sunt unde optio officia! Nobis tempore rerum magnam doloremque facilis iste, minus aut non laudantium nesciunt, praesentium explicabo perferendis error dolorum facere distinctio consequuntur modi maiores exercitationem reprehenderit optio eveniet! Aliquid, similique deserunt animi, obcaecati tempore ab praesentium deleniti quidem voluptate, omnis doloremque officiis sit aperiam incidunt vel maxime? Qui, deleniti.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis aspernatur adipisci totam. Corrupti ullam nihil dolore dolor ea, sint aliquam! Nisi, accusantium eos? Qui voluptatem ullam ex molestiae quas ducimus voluptas id porro, commodi vitae explicabo eius sunt animi hic quam deleniti, ut accusamus soluta in officiis beatae. Quas sunt unde optio officia! Nobis tempore rerum magnam doloremque facilis iste, minus aut non laudantium nesciunt, praesentium explicabo perferendis error dolorum facere distinctio consequuntur modi maiores exercitationem reprehenderit optio eveniet! Aliquid, similique deserunt animi, obcaecati tempore ab praesentium deleniti quidem voluptate, omnis doloremque officiis sit aperiam incidunt vel maxime? Qui, deleniti.</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>