<!-- <!DOCTYPE html>
<html lang="en"> -->
    <!-- <%- include('./partials/head.ejs')%> -->
<!-- <body>
  <div class="login"> -->
    <!-- <%- include('./partials/nav.ejs')%> -->
    <!-- <form>
      <label for="username">Username</label>
      <input type="text" id="username" placeholder="User123">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Password123">
      <input type="submit" value="Submit">
    </form>
  </div>
</body>

</html> -->